html * {
    margin:0;
    box-sizing: border-box;
    color: black;
}

html{
    font-size:10px;
    min-width:320px;
    max-width: 1920px;
    background-color:white;
    font-family: 'Arial', sans-serif ;
    margin: 0 auto;
}

p, li, dl, a{
    font-size: 1.2em;
}

body {
    width: 100%;
    background-color: white;
    margin:0 auto;
}

section {
    padding-bottom: 15px;
}

nav{
    padding:2em;
}

h1{
    text-align: center;
    margin: 0 auto;
}

section h1{
    text-transform: uppercase;
    background-size: 200px 5px;
    padding-bottom: 5px;
    background-position:center bottom;
    background-repeat: no-repeat;
    background-image: url(../images/section.png);
}

section:nth-of-type(even){
    background-color: #caccca;
}

h2, h3{
    text-align: center;
}

.johnDoe{
    display: block;
    position:absolute;
    top:35%;
    left:0;
    width:100%;
}

#menu {
    background-color: rgba(0,0,0,0.5);
    border:none;
    text-transform: uppercase;
    padding:0;
    z-index: 5;
}

#menu a {
    color:white;
    transition: 0.5s all;
}

#menu a:hover{
    font-size:1.1em;
    text-decoration: underline;
    background-color: rgba(0,0,0,0.5); ;
}

#home{
    min-height: 100vh;
}


#myCarousel {
    overflow: hidden;
    height: 100vh;
}

#myCarousel img {
    max-width: none;
    min-height: 100vh;

}



#home h1, #home h2{
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 2px white,
                 2px -2px 2px white,
                -2px 2px 2px white,
                -2px -2px 2px white;
}

#about p{
    text-align: justify;
    text-indent: 3em;
}

.about img, #gear img{
    /*visibility: hidden;*/
}

section p{
    text-align: justify;
    text-indent: 3em;

}

.captionImg{
    position: absolute;
    top:30%;
    width:86%;
    margin-left:3%;
    margin-right:11%;
    background-color: rgba(255,255,255,0.6);
    display: none;
}

.captionImg *{
    text-align: center;
    transition: 1s all;
}

#galleries a:hover{
    filter: grayscale(100%);
}

#galleries .gallery-detail-img:hover{
    cursor: pointer;
    background-color: darkslateblue;
}

#contact p{
    text-align: center;
}

#contact a{
    text-decoration: underline;
}

#about .jumbotron, #gear .jumbotron, #contact .jumbotron{
    margin:10px;
    padding:20px;
}

#about .jumbotron p, #gear .jumbotron p, #contact .jumbotron p {
    font-size: 16px;
    text-indent: 0;
    text-align: left;
}

footer{
    padding-top:20px;
    height:80px;
    text-align: center;
    background-color: #caccca;
}

#testP, #testP2{
    display: none;
}

#galleries .well{
    border: 3px solid darkgray;
}

#galleries .pager li>a{
    color:black;
    background-color:lightgrey;
}

#galleries .pager li>a:hover{
    color:black;
    background-color: #878787;
}

.gallery-images {
    border-radius:25px;
    margin: 0 auto 20px auto;
    display: table;
    background-color:white;
    position: relative;
}

.gallery-image {
    background-color: white;
    display: none;
    margin: 0 auto 20px auto;
    width:100%;
}

.gallery-image:first-child{
    display: block;
}

#galleries img{
    transition: 1s all;
}
.gallery-detail-img {
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px #888888;
}

.gallery-detail-img:hover {
    box-shadow: 5px 5px 5px #3f3f3f;
}

#galleries .well{
    box-shadow: 5px 5px 5px #b4b4b4;
}

.pager:hover{
    cursor: pointer;
}

.return-galleries{
    display:block;
    text-transform: uppercase;
    color:black;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    border-radius:5px;
    transition: 0.3s all;
}

.return-galleries:hover{
    color:black;
    background-color: rgba(0,0,0,0.5);
}

@media (min-width:768px){
    #home h1{font-size: 3em;}
    #home h2{font-size: 2em;}
}

@media (max-width:767px){
    #home {min-height: 100vh;}
    #home h1{font-size: 2em;}
    #home h2{font-size: 1.2em;}
    .gallery-image-m {
        width:100%;
        padding:0;
    }
    .gallery-images-m{
        padding:0;
    }
}

@media (max-device-width:767px) {
    #home {min-height: 100vh;}
    .gallery-image-m {
        width:100%;
        padding:0;
    }
    .gallery-images-m{
        padding:0;
    }
}