<div class="row">
    <div class="col-sm-6 col-xs-12">
        <p>
            Search:
            <input ng-model="$ctrl.query" />
        </p>
    </div>
    <div class="col-sm-6 col-xs-12">
        <p>
            Sort by:
            <select ng-model="$ctrl.orderProp">
                <option value="name">Alphabetical</option>
                <option value="date">By Date</option>
            </select>
        </p>
    </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12" 
             ng-repeat="gallery in $ctrl.galleries | filter:$ctrl.query | orderBy:$ctrl.orderProp as filteredGalleries">
                <a href="#!/galleries/{{gallery.id}}#galleries" class="gallery-list-item">
                    <img ng-src="{{gallery.imageUrl}}"
                         alt="{{gallery.name}}" title="{{gallery.name}}"
                         class="img-responsive img-thumbnail">
                    <div class="captionImg">
                        <h3>{{gallery.name}}</h3>
                        <p>{{GetMonthName(GetMonth(gallery.date))}} {{GetYear(gallery.date)}}</p>
                    </div>
                </a>
            </div>
         </div>
